@use "../../assets/styles/vars";
@use "../../assets/styles/templates";

.menu-item {
  list-style: none;
  &__link {
    padding: 10px;
    text-decoration: none;
    @include templates.title-style;
    font-size: 36px;
    font-weight: 400;
    font-style: italic;
    &:hover {
      background-color: vars.$white-color;
      border-radius: 20px;
    }
  }
}
