@use "../../assets/styles/vars";
@use "../../assets/styles/templates";

.card {
  width: 80%;
  margin: 0 auto;
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 450px;
    margin: 30px auto;
    background-color: vars.$white-color;
  }
  &__text {
    @include templates.text-style;
    font-size: 60px;
    &--translation {
      display: none;
    }
  }
  &__buttons {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 30px auto;
  }
}
