@use "../../assets/styles/templates";

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 100px;
  width: max-content;
  margin: 30px auto;
}

.cards {
  position: relative;
  display: flex;
  width: 30vw;
  height: 450px;
}

.text {
  @include templates.text-style;
}
